.container img {
    width: 40%;
    height: 60vh;
    border-radius:4px;
    box-sizing: border-box;
    padding-bottom: 23px;
    margin-top: auto;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(70, 70, 119);  
    font-size: 40px;
}
.container p {
    font-family: 'Times New Roman';
    font-size: 30px;
}
.Form {
    font-size: 25px;
    width: 15px;
    display: inline-flex;
    padding: 20px;
}
.Form label {
    display:block;
    margin-bottom: 4px;
}
.container button {
    background-color: blue;
    font-size: 25px;
    padding-left:10px;
    transition-duration: 0.4s;
 }
button:hover {
     background-color:rgb(108, 108, 155);
     color: white;
 }