.container img {
    width: 40%;
    height: 60vh;
    border-radius:4px;
    box-sizing: border-box;
    padding-bottom: 23px;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(70, 70, 119);  
}
.container p {
    font-family: 'Times New Roman';
    font-size: 30px;
}
.container form {
    font-size: 30px;
}
.container button {
    background-color: blue;
    font-size: 30px;
    padding-left:10px;
    transition-duration: 0.4s;
 }
button:hover {
     background-color:rgb(108, 108, 155);
     color: white;
 }